<div class="container confetti-container" [hidden]="!won">
  <div class="confetti" *ngFor="let number of [0,1,2,3,4,6,7,8,9,10]"></div>
</div>
<div class="container">
  <h1>Play X-O</h1>
  <h2>User turn: {{ turn }}</h2>
  <div class="grid-wrapper">
    <div class="row-wrapper" [ngClass]="{nonactive : won}" *ngFor="let row of grid; let i = index">
      <app-cell *ngFor="let cell of row; trackBy:x; let j = index"
                [row]="i"
                [col]="j"
                [turn]="turn"
                [callback]="callback"></app-cell>
    </div>
    <div class="whoWon">
      {{ message }}
    </div>
    <div class='button -regular center' (click)="init()">Start Over</div>
    <div>
      <label>Dimension:</label>
      <input [(ngModel)]="dim" (keyup)="init()"/>
    </div>
  </div>
</div>