html, body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: white;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#014f9e+0,5b7c9e+100 */
  background: #014f9e; /* Old browsers */
  background: -moz-linear-gradient(top, #014f9e 0%, #5b7c9e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #014f9e 0%,#5b7c9e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #014f9e 0%,#5b7c9e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#014f9e', endColorstr='#5b7c9e',GradientType=0 ); /* IE6-9 */
}/* You can add global styles to this file, and also import other style files */
